<%- errorMessagesFor(ebaysale) %>
<div class="control-group">
   <%- form.label("id", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("id") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("transaction_id", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("transaction_id") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("item_id", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("item_id") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("ebay_id", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("ebay_id") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("actual_shipping_cost", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("actual_shipping_cost") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("cost", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("cost") %>
   </div>
</div>
