<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.ebays() %>">ebays</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Edit ebay</a></li>
</ul>

<div class="page-header">
    <h1>Edit ebay</h1>
</div>

<% var form = formFor(ebay, {action: pathTo.ebay(ebay), method: 'PUT', id: "ebay-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Update ebay', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.ebay(ebay), {class: 'btn'}) %>
</div>
<%- form.end() %>
